<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVS NodeJS Courses</title>
    <link rel="stylesheet" href="/localStyle.css">
</head>
<body>
    <div id="nav">
        <div class="titre">
            <h1 class="title">UVS NODEJS COURSES</h1>
        </div>
        <div class="links">
            <a href="/" class="button"> <span>HOME</span> </a>
            <a href="/courses.html" class="button"> <span>COURSES</span> </a>
            <a href="/contact.html" class="button"> <span>CONTACT</span> </a>
            </div>
        </div>
    </div>
    
    <div class="hr"></div>

    <div id="container">
        <div class="cont">
            <img src="/hardway.jpg" alt="">
        </div>
        <div class="cont">
            <h1 class="title1">
                Learn to create web apps
            </h1>
            <h1 class="title1">(using JS technologies)</h1>
            <h2> Offered Courses : </h2>
            <ul>
                <li>JavaScript (ES5, ES6)</li>
                <li>Front-end (ReactJS)</li>
                <li>Back-end (NodeJS, ExpressJS, MongoDB)</li>
            </ul>
            <p><a href="#">Contact Us</a> today !</p>
        </div>
    </div>
</body>
</html>